body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

#converter {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}

input[type=text], input[type=radio], button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

#result {
    font-size: 18px;
    margin-top: 10px;
}
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
    font-size: 3em;
    color: #333;
    text-shadow: 2px 2px #ccc;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  
  #converter {
    margin: 0 auto;
    width: 500px;
    background-color: #C5FAD5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
  }
  
  input[type=text] {
    padding: 10px;
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #ccc;
  }
  
  input[type=radio] {
    margin-right: 10px;
  }
  
  label {
    font-size: 1.2em;
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #FFFFD2;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #FFFFD2;
  }
  
  #result {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
  }
  body {
    background-color: #AA96DA;
  }
  